/* @import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css'; */
.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
[data-theme='compact'] .site-navigation-steps,
.site-navigation-steps {

  box-shadow: 0px -1px 0 0 #e8e8e8 inset;
}

.site-card-wrapper {
  padding: 2px;
  background: #ececec;
}

.player-description .ant-descriptions-item-label {
  text-align: center;
  width: 40px;
}